CADASTRE_MILLESIME=2025-12-01
CADASTRE_DATA_BASEPATH=https://cadastre.s3.rbx.io.cloud.ovh.net
CADASTRE_DATA_TYPE=s3
AWS_ENDPOINT_URL=https://s3.rbx.io.cloud.ovh.net
AWS_ACCESS_KEY_ID=azerty
AWS_SECRET_ACCESS_KEY=qsdfgh
AWS_REGION=rbx
